<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conceptplays.komsonasa.letmeknow" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name="com.conceptplays.komsonasa.elancopro.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.conceptplays.komsonasa.elancopro.FirstActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.conceptplays.komsonasa.elancopro.FeedSowsPerDayActivity"
            android:label="@string/title_activity_feed_sows_per_day"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.conceptplays.komsonasa.elancopro.FeedPigsPerDayActivity"
            android:label="@string/title_activity_feed_pigs_per_day"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.conceptplays.komsonasa.elancopro.SowDrugPerSowActivity"
            android:label="@string/title_activity_sow_drug_per_sow"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.conceptplays.komsonasa.elancopro.PigDrugPerHeadActivity"
            android:label="@string/title_activity_sow_drug_per_sow"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.conceptplays.komsonasa.elancopro.InjectionPerWeekActivity"
            android:label="@string/title_activity_sow_drug_per_sow"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.conceptplays.komsonasa.elancopro.AddDrugsActivity"
            android:label="@string/title_activity_add_drugs"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.conceptplays.komsonasa.elancopro.AddInjectionActivity"
            android:label="@string/title_activity_add_drugs"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
